
  <main>


<!--
    <div class="projects" id="projects">
      <div class="project"><a href="./salty-running.pdf">
        <div class="proj-thumb"><img src="./assets/img/sr-thumbnail.png" alt=""></div>
        <h4 class="proj-title">Salty Running</h4>
        <p class="proj-blurb">A collaborative blog and online community of women runners</p>
      </div></a>
      <div class="project"><a href="./tasty-trucks.pdf">
        <div class="proj-thumb"><img src="./assets/img/tt-thumbnail.png" alt=""></div>
        <h4 class="proj-title">Tasty Trucks</h4>
        <p class="proj-blurb">A mobile app where users can find local food trucks, view the truck’s menu and place an order to be picked up.</p>
      </div></a>
      <div class="project"><a href="./salty-shop.pdf">
        <div class="proj-thumb"><img src="./assets/img/ss-thumbnail.png" alt=""></div>
        <h4 class="proj-title">Salty Shop</h4>
        <p class="proj-blurb">An e-commerce platform for Salty Running that sells a curated selection of running related products</p>
      </div></a>
    </div>

    <div class="proj-page">
      <div id="salty-running"></div>
      <div id="tasty-trucks"></div>
      <div id="salty-shop"></div>
    </div> -->
    <main>
      <h2>Projects</h2>
    <ul class="projects nobullet inline" id="projects">
      <li *ngFor="let project of projects" (click)="onSelect(project)">
        <div class="project">
          <div class="proj-thumb"><img src="{{ project.thumbnail_url }}" alt=""></div>
          <h4 class="proj-title">{{project.title}}</h4>
          <p class="proj-blurb">{{project.blurb}}</p>
        </div>
      </li>
    </ul>
    <div class="section">
      <h2> {{selectedProject.title}} </h2>
      <div></div>
    </div>
  </main>
 