/* COLOR GUIDE 
----FFA800
#FF9D00 - Orange
#18E2D5 - Teal
#40D8FF - Blue

Alerts
#780617 - Red
#C4BC13 - Yellow
#787418 - Green


*/

* {
  box-sizing: border-box;
}

html {
  width:100vw;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    width:100%;
    max-width:1024px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, header-nav a {
  color: #333333;
  display: block;
  font-family: 'Open Sans Bold', sans-serif;
  margin: 0 0 .875em;
}

h3 {
  font-size: 20pt;
}

h4, h5, h6 {
  font-size: 16pt;
}

a.nounderline {
  text-decoration: none;
}

a.nounderline:active {
  text-decoration: underline;
}

a:active {
  color: #e1e1e1;
}

button {
    padding: 12px 20px;
    border-radius: 4px;
    line-height: 1;
    background-color: #222222;
    color: #eeeeee;
    font-weight: 800;
}

p {
  max-width: 100%;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  display: block;
}

ul, ol {
  margin: 0;
  display: block;
}


ul.nobullet {
  list-style-type: none;
  padding-left: 0;
}
ul.inline {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
ul.inline li {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-element {

}

.columns2 {
  -webkit-columns: 2;
   -moz-columns: 2;
        columns: 2;
}

.hanging-indent {
  text-indent: -10px;
  padding-left: 10px;
}

.bold {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: bolder;
}

@media (min-width: 720px) {
  ul.inline li {
    margin: 0 20px;
  }
}

/* ********** HEADER ********** */

.main-header {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.main-header {
  /*background-color: #FF9E01;*/
  height:80px;
  border-bottom: 1px solid #FF9E01;
}

.main-header .logo {
  background: url(./assets/img/logo.png) top left no-repeat; 
  width: 193px;
  height: 80px;
}

/*.main-header .logo {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  width: 90px;
  flex: 0 2 90px;
  overflow: visible;
}


.main-header .logo img {
  max-width: 120px;
  height: auto;
}*/

/*.main-header .balloon {
  float:center;
  width: 40px;
  height: auto;
  flex: 0 1 auto;
}*/

/*.main-header .main-nav {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  flex: 0 2 90px;
}*/

.header-nav {
  position: relative;
  padding: 10px 0;
}

.header-nav li {
  font-size: 1.5em;
  text-align: right;
  margin: 0 20px;
}

.header-nav:last-child {
  margin-bottom: 0;
}

.nav-list li a {
  color: #333333;
  font-weight: bolder;
}

.nav-list li a:hover, .nav-list li a:focus {
  color: #FF9E01;
}

/* ********** FOOTER ********** */

.main-footer {
    background-color: #333333;
    color: #fafafa;
    width: 100%;
    margin-top: 6.25em;
    padding-bottom: 40px;
}

.footer-nav {

  width:60%;
  margin: 0 auto;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-nav li {
  margin: 5px 10px;
  min-width: 60px;
}
.footer-nav li a {
  color: #e1e1e1;
  margin: 0 auto;
}

.footer-nav i {
  font-size: 2em;
}

.footer-nav span {
  display: block;
  width:100%;
}

.copyright {
  display: block;
  font-size: xx-small;
  margin: 0 auto;
  text-align: center;
}

/* ********** MAIN ********** */

main {
  padding: 60px 16px 40px;
}

main .hero {
  background-color: #18E2D5;
  background: url('./assets/img/bluekyle.jpg') bottom right / auto 100% no-repeat;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #18E2D5;
  width: 100%;
  min-height: 300px;
}

@media (max-width: 700px) {
  main .hero {
    background: url('#');
    background-color: #18E2D5;
  }
}

.hero .words {
  background-color: rgba(24, 226, 213, 0.8);
    width: 40%;
    min-width: 310px;
    padding: 20px;
    margin: 0 auto;
}

.hero .img {
  
  flex: none | [ <'flex-2'> <'flex-2'>? || auto ];
  height: 00px;
  width: 400px;
  margin-right: 0px;
}

/* ********** Projects Page ********** */

main .projects {
  margin-top: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projects .project {
  max-width: 310px;
  text-align: center;
  margin: 0;
}



.proj-thumb {
  height: 184px;
  width: 310px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 2px;
  opacity: 0.8;
}

.proj-thumb img {
  width: 100%;
  height: 100%;
}

.project a, .project h4 {
  text-decoration: none;
  color: #333333;
}

.project:hover .proj-thumb {
  opacity: 1;
}

.project:hover a, .project:hover h4 {
  text-decoration: none;
  color: #FF9E01;
}

@media (max-width: 700px) {
  .proj-thumb {
    opacity: 1;
  }
}

/* ********** END Project Page ********** */

/* ********** Project Detail View ********** */
.project-header {
  background: #18E2D5;
  color: #222222;
  width: 100%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  margin-top: 3.75em;
}

.project-header * {
  margin:16px;
}

.project-pdf-link {
  font-size: 14pt;
  float: right;
  margin-bottom: 20px;
  align-self: flex-end;
}

.project-pdf-link a {
  color: #222222;
}

/* ********** END Project Detail View ********** */

/* ********** Project Html ********** */

.flex-tight {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
}

.flex-tight flex-item-1 {
  flex: none | [ <'1'> <'1'>? || <'33%'> ];
}

.flex-tight flex-item-2 {
  flex-shrink: 2;
  flex: none | [ <'2'> <'2'>? || <'66%'> ];
}


.cs-text {
  min-width: 310px;
  padding: 16px;
}

.bggrey {
  background-color: #444444;
  color: #FAFAFA;
}

.bggrey h4 {
  background-color: #444444;
  color: #FAFAFA;
}

.bgblue {
  background-color: #18E2D5;
}

/*.project-content {
  margin-top: 1.875em;
}*/

.section {
      margin: 3.75em auto 0;
}

.skinnysection {
      max-width: 680px;
}


/* ********** END Project Html ********** */

/* ********** Resume Page ********** */

.resume-pdf-link {
  display: block;
  text-align: right;
  margin-top: 20px;
}

.resume {
  align-items: flex-start;
  font-size: 10pt;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  max-height:1500px;
  align-items: center;
}

.resume:before {
  position: absolute;
  content: "";
  margin: 60px auto;
  background-color: #18E2D5;
  width: 100%;
  height: 60%;
  opacity: 1;
  z-index: 0;
}

.res-section {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(24, 226, 213, .05);
    background-color: #F4FEFD;
    border-radius: 2px;
    z-index:1;
}

.res-section h4 {
  display: block;
  border-bottom: 2px solid #333333;
  width: 100%;
  font-weight: bold;
}

.skills {
  order: 1;
}

.schools {
  order: 2;
}

.jobs {
  order: 4;
}

.assns {
  order: 3;
}

.res-item {
  margin: 0 0 12px;
  line-height: 1.4;
}

.schools .res-item, .jobs .res-item {
  margin: 0 0 20px;
}

.res-item div {
  margin: 6px 0;
}

.job-company {
  color: #8a8a8a;
}
@media (max-width: 720px) {
    .resume {
      max-height: none;
    }
  .jobs {
  order: 3;
}

.assns {
  order: 4;
}
}
/* ********** End Resume Page ********** */
/* ********** Contact Page ********** */

.wufoo {
    color: #333333;
    font-family: 'Open Sans Bold', sans-serif !important;
}

.wufoo header h2 {
    font-size: 20pt !important;
    font-weight: 700 !important;
}

.wufoo form .req, 
.wufoo form .error,
.wufoo form .error .desc, 
.wufoo #errorMsgLbl, 
.wufoo #errorMsg b {
  color: #780617 !important;
}

/* ********** EndContact Page ********** */